* {box-sizing: border-box;}

body {
    background-color: #0C1017;
    color: #f0f7fd;
    width: 98%;
    margin-right: auto;
}

header {
    background-color: #171B23;
    width: 102%;
}

div {
    padding-bottom: 10px;
    padding-left: 10px;
}

.nav{
    background: none;
  }

.nav-link {
    text-align: left;
    align-items: left;
    color: #f0f7fd;
}

.nav-link:hover {
    color: #8B959F
}


h1 {
    padding-top: 20px;
    color: #8B959F;
    font-size: x-large;
}

h2 {
    padding-top: 20px;
    font-size: x-large;
}

p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.quote {
    font-weight: bold;
    color: #8B959F;
    text-shadow: 2px 2px #20272D;;
}

.main {
    padding-left: 3%;
}

.pseudolink {
    color: #3999F4
}
.pseudolink:hover {
    color: #2666a1;
    text-decoration: underline;
}

.activity {
    color: #8B959F;
}

.profile {
    color: #f0f7fd;
    padding-top: 20px;
} 

.code-box {
    text-align: left;
    background-color: #171B23;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 4px;
    width: 98%;
}

.tag {
    font-size: x-small;
    margin: 1%;
    padding: 4px;
    padding-bottom: 6px;
    border: 1px solid #8B959F;
    border-radius: 10px;
}

.border-general {
    color: #8B959F;
    width: 90%;
    margin: 1%;
    padding: 2px;
    padding-bottom: 15px;
    padding-left: 10px;
    border: 1px solid #20272D;
    border-radius: 10px;
}

.border-link {
    color: #8B959F;
    margin: 1%;
    padding: 2px;
    padding-bottom: 6px;
    padding-left: 10px;
    border: 1px solid #20272D;
    border-radius: 10px;
}

.border-link:hover {
    background-color: #20272D;
}

.button {  
    text-decoration: none;
    color: #8B959F;
}

.button:hover {
    text-decoration: none;
    color: #8B959F;
}


.dot {  
    background-color: #573D7D;
    padding-left: 20px; 
    margin-right: 7px;
    border: 1px solid #8B959F; 
    border-radius: 29px;
}

.dot_green {  
    background-color: #238737;
    padding-left: 20px; 
    margin-right: 7px;
    border: 1px solid #8B959F; 
    border-radius: 29px;
}

footer {
    padding: 10px;
    border-top: 1px solid #20272D;
    color: #8B959F;
} 